body{
    background: linear-gradient(
        to bottom,
        rgb(204,229,255),
        rgba(204,229,255,0.4)
    );
    font-size: 1.15em;
    text-align: justify;
}
#myTitle{
    color: rgb(154,11,28);
}
.h1Element{
    color: aqua;
}